body{
  font-family: poppins,sans-serif;
  height: 500vh;
  background: url(../public/5630939.jpg);
  background-attachment: fixed; 
  background-size: cover;
}

html{
  scroll-behavior: smooth;
}
.section{
  scroll-margin-top: 20px;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}